.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: none;
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list-item:not(:first-child) {
  margin-left: 12px;
}

.header__logo {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
