@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@300;400;500;700&display=swap');

/* global styles */
:root {
  background-color: white;
  color: black;
  font-family: 'Inter', sans-serif;
}
